[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/likwid-v2-core"]
	path = lib/likwid-v2-core
	url = https://github.com/likwid-fi/likwid-v2-core
